* {
    margin: 0px;
    padding: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.top {
    background-color: #1f2947;
    color: white;
    padding: 20px 100px 20px 100px;
}

.nav {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    /* color: white; */
    padding: 0px 0px 70px 0px;
}

.logo {
    font-weight: 600;
    font-size: 24px;

}

.nav ul {
    display: flex;
    list-style-type: none;
    font-size: 18px;
}

.nav ul li {
    padding: 0px 20px 0px 20px;
}

.top-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-bottom: 20px; */
}

.top-body img {
    width: 200x;
    /* transform: rotate(90deg); */
    /* margin: 20px; */
    margin: 0px;
    padding: 0px;
}

.head-p {
    font-size: 48px;
}

.top-body button {
    color: white;
    background-color: #3882f6;
    padding: 5px 10px 5px 10px;
    margin: 10px 0px;
    border: 0px;
    border-radius: 10px;
    font-weight: 600;
}

.middle h2 {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
    margin: 30px;
    font-size: 32px;
}

.img-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    margin-bottom: 100px;
    
}

.img-box {
    width: 180px;
}

.img-box .box{
    padding: 20px;
    margin: 20px;
    height: 100px;
    width: 100px;
    background-color: white;
    border: 2px solid blue;
    border-radius: 10px;

}

.img-box p {
    margin: 20px;
    padding: 0px 5px 0px 5px;
    text-align: center;
}

.quote-body {
    background-color: #e5e7eb;
}

.quote-body .quote {
    margin: 0px 400px 0px 400px;
    padding: 50px;
    font-size: 36px;
    font-style: italic;
    font-weight: 50;
    text-align: center;
}

.quote-body .quoter {
    margin: 0px 400px 0px 100px;
    padding: 0px 50px 50px 50px;
    text-align: end;
    font-weight: 600;
    font-size: 24px;
}

.callout {
    background-color: #3882f6;
    margin: 100px 300px 100px 300px;
    padding: 40px 100px 40px 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.callout .para {
    color: white;
    padding: 10px;
}

.callout .para .large-p {
    font-size: 24px;
    font-weight: 500;

}

.callout button{
    color: white;
    background-color: #3882f6;
    padding: 5px 20px 5px 20px;
    margin: 10px 0px;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: 600;
}

.bottom {
    text-align: center;
    font-size: 18px;
    color: white;
    background-color: #1f2947;
    padding: 50px;
}